[style*="--background"] {
  background: var(--background);
}

[style*="--background-attachment"] {
  background-attachment: var(--background-attachment);
}

[style*="--background-blend-mode"] {
  background-blend-mode: var(--background-blend-mode);
}

[style*="--background-clip"] {
  background-clip: var(--background-clip);
}

[style*="--background-color"] {
  background-color: var(--background-color);
}

[style*="--background-image"] {
  background-image: var(--background-image);
}

[style*="--background-origin"] {
  background-origin: var(--background-origin);
}

[style*="--background-position"] {
  background-position: var(--background-position);
}

[style*="--background-position-x"] {
  background-position-x: var(--background-position-x);
}

[style*="--background-position-y"] {
  background-position-y: var(--background-position-y);
}

[style*="--background-repeat"] {
  background-repeat: var(--background-repeat);
}

[style*="--background-size"] {
  background-size: var(--background-size);
}
