[style*="--box-decoration-break"] {
  box-decoration-break: var(--box-decoration-break);
}

[style*="--box-shadow"] {
  box-shadow: var(--box-shadow);
}

[style*="--box-sizing"] {
  box-sizing: var(--box-sizing);
}
