[style*="--break-after"] {
  break-after: var(--break-after);
}

[style*="--break-before"] {
  break-before: var(--break-before);
}

[style*="--break-inside"] {
  break-inside: var(--break-inside);
}
