[style*="--color-interpolation-filters"] {
  color-interpolation-filters: var(--color-interpolation-filters);
}

[style*="--color-interpolation"] {
  color-interpolation: var(--color-interpolation);
}

[style*="--color-scheme"] {
  color-scheme: var(--color-scheme);
}

[style*="--color"] {
  color: var(--color);
}
