[style*="--align-content"] {
  align-content: var(--align-content);
}

[style*="--align-items"] {
  align-items: var(--align-items);
}

[style*="--align-self"] {
  align-self: var(--align-self);
}

[style*="--column-gap"] {
  column-gap: var(--column-gap);
}

[style*="--flex"] {
  flex: var(--flex);
}

[style*="--flex-basis"] {
  flex-basis: var(--flex-basis);
}

[style*="--flex-direction"] {
  flex-direction: var(--flex-direction);
}

[style*="--flex-flow"] {
  flex-flow: var(--flex-flow);
}

[style*="--flex-grow"] {
  flex-grow: var(--flex-grow);
}

[style*="--flex-shrink"] {
  flex-shrink: var(--flex-shrink);
}

[style*="--flex-wrap"] {
  flex-wrap: var(--flex-wrap);
}

[style*="--gap"] {
  gap: var(--gap);
}

[style*="--justify-content"] {
  justify-content: var(--justify-content);
}

[style*="--order"] {
  order: var(--order);
}

[style*="--row-gap"] {
  row-gap: var(--row-gap);
}
