[style*="--font"] {
  font: var(--font);
}

[style*="--font-family"] {
  font-family: var(--font-family);
}

[style*="--font-feature-settings"] {
  font-feature-settings: var(--font-feature-settings);
}

[style*="--font-kerning"] {
  font-kerning: var(--font-kerning);
}

[style*="--font-language-override"] {
  font-language-override: var(--font-language-override);
}

[style*="--font-optical-sizing"] {
  font-optical-sizing: var(--font-optical-sizing);
}

[style*="--font-palette"] {
  font-palette: var(--font-palette);
}

[style*="--font-size"] {
  font-size: var(--font-size);
}

[style*="--font-size-adjust"] {
  font-size-adjust: var(--font-size-adjust);
}

[style*="--font-stretch"] {
  font-stretch: var(--font-stretch);
}

[style*="--font-style"] {
  font-style: var(--font-style);
}

[style*="--font-synthesis"] {
  font-synthesis: var(--font-synthesis);
}

[style*="--font-synthesis-position"] {
  font-synthesis-position: var(--font-synthesis-position);
}

[style*="--font-synthesis-small-caps"] {
  font-synthesis-small-caps: var(--font-synthesis-small-caps);
}

[style*="--font-synthesis-style"] {
  font-synthesis-style: var(--font-synthesis-style);
}

[style*="--font-synthesis-weight"] {
  font-synthesis-weight: var(--font-synthesis-weight);
}

[style*="--font-variant"] {
  font-variant: var(--font-variant);
}

[style*="--font-variant-alternates"] {
  font-variant-alternates: var(--font-variant-alternates);
}

[style*="--font-variant-caps"] {
  font-variant-caps: var(--font-variant-caps);
}

[style*="--font-variant-east-asian"] {
  font-variant-east-asian: var(--font-variant-east-asian);
}

[style*="--font-variant-emoji"] {
  font-variant-emoji: var(--font-variant-emoji);
}

[style*="--font-variant-ligatures"] {
  font-variant-ligatures: var(--font-variant-ligatures);
}

[style*="--font-variant-numeric"] {
  font-variant-numeric: var(--font-variant-numeric);
}

[style*="--font-variant-position"] {
  font-variant-position: var(--font-variant-position);
}

[style*="--font-variation-settings"] {
  font-variation-settings: var(--font-variation-settings);
}

[style*="--font-weight"] {
  font-weight: var(--font-weight);
}
