@use "./scale";

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900, bold, bolder, lighter, normal;

@each $key, $val in scale.$scale {
  .font-size-#{$key} {
    font-size: var(--font-size-#{$key}, var(--spock-scale-#{$key}));
  }
}

@each $type in $weights {
  .font-weight-#{$type} {
    font-weight: #{$type};
  }
}
