$types: block, inline;

[style*="--inset"] {
  inset: var(--inset);
}

$types: block, inline;

@each $type in $types {
  [style*="--inset-#{$type}"] {
    inset-#{$type}: var(--inset-#{$type});
  }
}
