[style*="--justify-content"] {
  justify-content: var(--justify-content);
}

[style*="--justify-items"] {
  justify-items: var(--justify-items);
}

[style*="--justify-self"] {
  justify-self: var(--justify-self);
}
