[style*="--mask"] { 
  mask: var(--mask); 
}

[style*="--mask-clip"] { 
  mask-clip: var(--mask-clip); 
}

[style*="--mask-composite"] { 
  mask-composite: var(--mask-composite); 
}

[style*="--mask-image"] { 
  mask-image: var(--mask-image); 
}

[style*="--mask-mode"] { 
  mask-mode: var(--mask-mode); 
}

[style*="--mask-origin"] { 
  mask-origin: var(--mask-origin); 
}

[style*="--mask-position"] { 
  mask-position: var(--mask-position); 
}

[style*="--mask-repeat"] { 
  mask-repeat: var(--mask-repeat); 
}

[style*="--mask-size"] { 
  mask-size: var(--mask-size); 
}

[style*="--mask-type"] { 
  mask-type: var(--mask-type); 
}
