[style*="--offset"] {
  offset: var(--offset);
}

[style*="--offset-anchor"] {
  offset-anchor: var(--offset-anchor);
}

[style*="--offset-distance"] {
  offset-distance: var(--offset-distance);
}

[style*="--offset-path"] {
  offset-path: var(--offset-path);
}

[style*="--offset-position"] {
  offset-position: var(--offset-position);
}

[style*="--offset-rotate"] {
  offset-rotate: var(--offset-rotate);
}
