[style*="--outline"] {
  outline: var(--outline);
}

[style*="--outline-color"] {
  outline-color: var(--outline-color);
}

[style*="--outline-offset"] {
  outline-offset: var(--outline-offset);
}

[style*="--outline-style"] {
  outline-style: var(--outline-style);
}

[style*="--outline-width"] {
  outline-width: var(--outline-width);
}

