[style*="--scrollbar-color"] {
  scrollbar-color: var(--scrollbar-color);
}

[style*="--scrollbar-gutter"] {
  scrollbar-gutter: var(--scrollbar-gutter);
}

[style*="--scrollbar-width"] {
  scrollbar-width: var(--scrollbar-width);
}
