[style*="--scroll-behavior"] {
  scroll-behavior: var(--scroll-behavior);
}

[style*="--scroll-margin"] {
  scroll-margin: var(--scroll-margin);
}

[style*="--scroll-margin-block"] {
  scroll-margin-block: var(--scroll-margin-block);
}

[style*="--scroll-margin-block-end"] {
  scroll-margin-block-end: var(--scroll-margin-block-end);
}

[style*="--scroll-margin-block-start"] {
  scroll-margin-block-start: var(--scroll-margin-block-start);
}

[style*="--scroll-margin-inline"] {
  scroll-margin-inline: var(--scroll-margin-inline);
}

[style*="--scroll-margin-inline-end"] {
  scroll-margin-inline-end: var(--scroll-margin-inline-end);
}

[style*="--scroll-margin-inline-start"] {
  scroll-margin-inline-start: var(--scroll-margin-inline-start);
}

[style*="--scroll-padding"] {
  scroll-padding: var(--scroll-padding);
}

[style*="--scroll-padding-block"] {
  scroll-padding-block: var(--scroll-padding-block);
}

[style*="--scroll-padding-block-end"] {
  scroll-padding-block-end: var(--scroll-padding-block-end);
}

[style*="--scroll-padding-block-start"] {
  scroll-padding-block-start: var(--scroll-padding-block-start);
}

[style*="--scroll-padding-inline"] {
  scroll-padding-inline: var(--scroll-padding-inline);
}

[style*="--scroll-padding-inline-end"] {
  scroll-padding-inline-end: var(--scroll-padding-inline-end);
}

[style*="--scroll-padding-inline-start"] {
  scroll-padding-inline-start: var(--scroll-padding-inline-start);
}

[style*="--scroll-snap-align"] {
  scroll-snap-align: var(--scroll-snap-align);
}

[style*="--scroll-snap-stop"] {
  scroll-snap-stop: var(--scroll-snap-stop);
}

[style*="--scroll-snap-type"] {
  scroll-snap-type: var(--scroll-snap-type);
}
