[style*="--shape-image-threshold"] {
  shape-image-threshold: var(--shape-image-threshold);
}

[style*="--shape-margin"] {
  shape-margin: var(--shape-margin);
}

[style*="--shape-outside"] {
  shape-outside: var(--shape-outside);
}
