[style*="--text-align"] {
  text-align: var(--text-align);
}

[style*="--text-align-last"] {
  text-align-last: var(--text-align-last);
}

[style*="--text-combine-upright"] {
  text-combine-upright: var(--text-combine-upright);
}

[style*="--text-decoration"] {
  text-decoration: var(--text-decoration);
}

[style*="--text-decoration-color"] {
  text-decoration-color: var(--text-decoration-color);
}

[style*="--text-decoration-line"] {
  text-decoration-line: var(--text-decoration-line);
}

[style*="--text-decoration-skip-ink"] {
  text-decoration-skip-ink: var(--text-decoration-skip-ink);
}

[style*="--text-decoration-style"] {
  text-decoration-style: var(--text-decoration-style);
}

[style*="--text-decoration-thickness"] {
  text-decoration-thickness: var(--text-decoration-thickness);
}

[style*="--text-emphasis"] {
  text-emphasis: var(--text-emphasis);
}

[style*="--text-emphasis-color"] {
  text-emphasis-color: var(--text-emphasis-color);
}

[style*="--text-emphasis-position"] {
  text-emphasis-position: var(--text-emphasis-position);
}

[style*="--text-emphasis-style"] {
  text-emphasis-style: var(--text-emphasis-style);
}

[style*="--text-indent"] {
  text-indent: var(--text-indent);
}

[style*="--text-justify"] {
  text-justify: var(--text-justify);
}

[style*="--text-orientation"] {
  text-orientation: var(--text-orientation);
}

[style*="--text-overflow"] {
  text-overflow: var(--text-overflow);
}

[style*="--text-rendering"] {
  text-rendering: var(--text-rendering);
}

[style*="--text-shadow"] {
  text-shadow: var(--text-shadow);
}

[style*="--text-transform"] {
  text-transform: var(--text-transform);
}

[style*="--text-underline-offset"] {
  text-underline-offset: var(--text-underline-offset);
}

[style*="--text-underline-position"] {
  text-underline-position: var(--text-underline-position);
}

[style*="--text-wrap"] {
  text-wrap: var(--text-wrap);
}
